
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
*{
    font-family: 'Nunito',sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    transition: all .2s linear;
}
$green:#0eb582;
$light-green:#f0fdfa;
$light-color:#777;
$light-white:#eee;
$black:#444;
$white:#eee;
$border:.1rem solid $green;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val,1fr));
    gap: 2rem;
}
@mixin titleText($titleSize){
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black ;
}
@mixin graphText($graphSize){
    font-size: $titleSize;
    text-transform: capitalize;
    color: $light-color;
}
html{
    font-size: 62f.5%;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width: 1rem;
    }
     &::-webkit-scrollbar-track{
        background: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: $green;
    }
  
    
}
section{
    padding: 5rem 10%;
    
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 16px;
    border: $border;
    background: $light-green;
    &:hover{
        background: $green;
        color: $white;
    }
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    box-shadow:$box-shadow;
    padding: 2rem 5%;
    display: flex;
    align-items: center;
    z-index: 1000;
    height: 70px;
    .logo{
        margin-right: auto;
        @include titleText(1.5rem);
        font-weight: bolder;
        
        i{
            color: $green;
        }
    }
    .navbar {
        position: relative;
        #close-navbar{
            position: absolute;
            top: 1.5rem;right:2rem;
            font-size: 1rem;
            cursor: pointer;
            color: $black;
        }
        a{
            margin-right:2rem;
            @include titleText(1rem);
            &:hover{
                color: $green;
        }
    }
    }
    .icons div{
        cursor: pointer;
        color: $black;
        margin-left: 0.5rem;
        &:hoveR{
            color: $green;
        }
          
    }
#menu-btn{
    display: none;
}
}

.footer{
    background: $light-green;
    .box-container{
        @include grid(14rem);
        .box{
            
            h3{
                @include titleText(1.5rem);
                padding: 1rem 0;
                
              
            }
        }
    }
}








@media(max-width:1200px){
    .header{
        padding: 2rem 5%;
    }
    section{
    padding: 2rem 5%;
}
}
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
     section{
    padding: 2rem 5%;
}
}
@media(max-width:768px){
    .header{
        #menu-btn{
            display:inline-block;
        }
        .navbar{
            position: fixed;
            top: 0;right:-105%;
            width: 30rem;
            background: $white;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            z-index: 1200;
            &.active{
                box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
                right: 0;
            }
            a{
                display: flex;
                margin: 1rem 0;
                text-align: center;
                font-size: 3rem;
            }
        }
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }   
}